h1  {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 23.4375em) {
  .What-item-are-you-lo {
    margin: 42px 0 39px 30px;
    width: 214px;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #3d3c3c;
  }

  .Cards-container {
    margin: 0 0 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
