h1  {
  margin-top: 0;
  margin-bottom: 0;
}

.Home {
  width: 100vw;
  margin: 0 auto 0 auto;
  position: absolute;
}

.Card {
  text-decoration: none;
}

.What-item-are-you-lo {
  margin: 42px 0 39px 13%;
  width: 100%;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #3d3c3c;
}

.Cards-container {
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 376px) and (max-width: 750px) {
  .Home {
    width: 100%;
    margin: 0;
  }
  .What-item-are-you-lo {
    margin: 42px 0 39px 30px;
    font-size: 30px;
    width: 80%;
  }
  .Cards-container {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }
}

@media (max-width: 375px) {
  .Home {
    width: 100%;
    margin: 0;
  }

  .What-item-are-you-lo {
    margin: 42px 0 39px 30px;
    width: 214px;
    font-size: 24px;
  }

  .Cards-container {
    margin: 0 0 0 30px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 374px) {
  .Cards-container {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
  .What-item-are-you-lo {
    margin: 42px 0 39px 30px;
    width: 214px;
    font-size: 24px;
  }
}
