.Card-container {
  margin: 0 27px 24px 0;
  width: 144px;
  height: 236px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.Card-image {
  margin: 38px 0 0 0;
  width: 99px;
  height: 108px;
  object-fit: contain;
}
.Card-infos {
  width: 100%;
  margin-top: 21px;
}
.Card-title {
  margin: 0 0 5px 18px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3d3d;
}
.Card-price {
  margin: 0 0 18px 18px;
  opacity: 0.46;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

@media (max-width: 374px) {
  .Card-container {
    margin: 0 0 31px 0;
  }
}

@media (min-width: 376px) and (max-width: 750px) {
  .Card-container {
    margin: 0 10px 31px 10px;
  }
}

@media (min-width: 750px) {
  .Card-container {
    margin: 0 20px 31px 20px;
    width: 200px;
    height: 300px;
  }
  .Card-image {
    margin: 45px 0 0 0;
    width: 108px;
    height: 116px;
    object-fit: contain;
  }
  .Card-infos {
    width: 100%;
    margin-top: 35px;
  }
  .Card-title {
    margin: 0 0 5px 35px;
    font-size: 20px;
  }
  .Card-price {
    margin: 0 0 18px 35px;
    font-size: 23px;
  }
}
